<div class="custom-onboarding-name">
  {{#unless this.saved}}
    <h3>{{theme-i18n "onboarding.name.headline"}}</h3>
    <p>
      <a class="mention">@{{this.currentUser.username}}</a>
      {{theme-i18n "onboarding.name.description"}}
    </p>
    <TextField
      @value={{this.currentUser.name}}
      {{on "input" this.updateName}}
      @classNames="input-xxlarge"
      @maxlength="255"
    />
    <br />
    <DButton
      @action={{action "save"}}
      @translatedLabel={{theme-i18n "onboarding.name.button"}}
      @class="btn-primary save-changes"
      @isLoading={{this.isSaving}}
      @disabled={{this.submitDisabled}}
    />
  {{/unless}}
  {{#if this.saved}}
    <h3>
      {{theme-i18n "onboarding.name.saved_headline" name=this.currentUser.name}}
    </h3>
    <p>
      {{html-safe (theme-i18n "onboarding.name.saved_description")}}
    </p>
    <MoreButtons
      @setRandomListItem={{@setRandomListItem}}
      @dismissBanner={{@dismissBanner}}
      @checkCompletion={{@checkCompletion}}
    />
  {{/if}}
</div>