{{#if this.isHomepage}}
  {{#if (and this.isNoob this.shouldShow (not this.isDismissed))}}
    <div
      class="custom-onboarding-tips"
      {{did-insert this.getFullProfile}}
      {{did-insert this.setRandomListItem}}
    >
      <ConditionalLoadingSpinner @condition={{this.loading}}>
        {{#if this.randomListItem}}
          {{component
            this.randomListItem.id
            fullProfile=this.fullProfile
            dismissBanner=this.dismissBanner
            setRandomListItem=this.setRandomListItem
          }}
        {{/if}}
        <DButton
          @icon="times"
          @class="btn-flat dismiss-onboarding-tips"
          @action={{this.disableOnboarding}}
        />
      </ConditionalLoadingSpinner>
    </div>
  {{/if}}
{{/if}}