<div class="custom-onboarding-bio">
  {{#unless this.saved}}
    <h3>{{theme-i18n "onboarding.bio.headline"}}</h3>
    <p>
      {{theme-i18n "onboarding.bio.description"}}
    </p>
    <DEditor
      @value={{this.fullProfile.bio_raw}}
      @change={{action this.updateBio}}
    />
    <DButton
      @action={{action "save"}}
      @translatedLabel={{theme-i18n "onboarding.bio.button"}}
      @class="btn-primary save-changes"
      @isLoading={{this.isSaving}}
      @disabled={{this.submitDisabled}}
    />
  {{/unless}}
  {{#if this.saved}}
    <h3>{{theme-i18n "onboarding.bio.saved_headline"}}</h3>
    <p>
      {{html-safe
        (theme-i18n
          "onboarding.bio.saved_description" username=this.currentUser.username
        )
      }}
    </p>

    <MoreButtons
      @setRandomListItem={{@setRandomListItem}}
      @dismissBanner={{@dismissBanner}}
      @checkCompletion={{@checkCompletion}}
    />
  {{/if}}
</div>